@using ShoeStore_Project_MVC_EntityFramework.Models;

<div>
    <h1>The Shoe is</h1>

    <h1>@Model.Id</h1>
    <h1>@Model.CompanyName</h1>
    <h1>@Model.ModelName</h1>
    <h1>@Model.Size</h1>
    <h1>@Model.Price</h1>

</div>